@import './variables.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

body {
    background: linear-gradient(to right, $leftGradient, $rightGradient );
    .calculator-grid {
        display: grid;
        justify-content: center;
        align-content: center;
        min-height: 100vh;
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: minmax(120px, auto) repeat(5, 100px);
        
        button {
            cursor: pointer;
            font-size: 2rem;
            border: 1px solid white;
            outline: none;
            background-color: $buttonBG;
            &:hover {
                background-color: $buttonHOV;
            }
        }

        .span-two {
            grid-column: span 2;
        }

        .output {
            grid-column: 1 / -1;
            background-color: $outputBG;
            display: flex;
            align-items: flex-end;
            justify-content: space-around;
            flex-direction: column;
            padding: 10px;
            word-wrap: break-word;
            word-break: break-all;

            .previous-operand {
                color: $buttonBG;
                font-size: 1.5rem;
            }
            
            .current-operand {
                color: $outputCurrent;
                font-size: 2.5rem;
            }
        }
    }
}

